# pydata basic stack
numpy
scipy
sympy
pandas
cython
matplotlib
seaborn
jupyter
ipython
bottleneck
line_profiler

# Scikit-learn
scikit-learn

# Database (etc.) tools
pyodbc
psycopg2-binary
pyarrow

# Intel Libraries
mkl
mkl-devel
mkl-include
intel-openmp

# vim: ft=sh
